---
language: lisp

env:
  matrix:
    - LISP=sbcl
    - LISP=ccl
    - LISP=ecl
    - LISP=clisp
    - LISP=abcl
    - LISP=ccl32
    - LISP=clisp32
    - LISP=sbcl32
    # - LISP=allegro
    # - LISP=cmucl

matrix:
  fast_finish: true
  allow_failures:
    - env: LISP=abcl
    - env: LISP=ccl32
    - env: LISP=clisp32
    - env: LISP=sbcl32

install:
  - bin/cl-travis-install.sh

before_script:
  - bin/fetch-configlet
  - bin/configlet .

script:
  - cl -f 'bin/xlisp-test.lisp' -e '(xlisp-test:travis-build)'

# Cut and paste above to run all tests locally.

# Add a numeric argument to XLISP-TEST:RUN-TESTS-ALL between 0 and 7
# to control optional verbosity (default is 2).
