name: Config Check

on: [push, pull_request]

jobs:
  config-check:
    timeout-minutes: 30
    runs-on: ubuntu-24.04

    container:
      image: clfoundation/sbcl
        
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Check Config
        uses: ./.github/actions/perform-system
        with:
          system: config-checker
          operation: test-system
