name: Config Check

on: [push, pull_request]

jobs:
  config-check:
    timeout-minutes: 30
    runs-on: ubuntu-24.04

    container:
      image: clfoundation/sbcl
        
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - name: Check Config
        uses: ./.github/actions/perform-system
        with:
          system: config-checker
          operation: test-system
