name: Config Check

on: [push, pull_request]

jobs:
  config-check:
    timeout-minutes: 30
    runs-on: ubuntu-22.04

    container:
      image: clfoundation/sbcl
        
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11

      - name: Check Config
        uses: ./.github/actions/perform-system@{"message":"Not Found","documentation_url":"https://docs.github.com/rest"}
        with:
          system: config-checker
          operation: test-system
