name: Test Exercises

on: [push, pull_request]

jobs:
  run-tests:
    timeout-minutes: 30
    runs-on: ubuntu-24.04

    container:
      image: clfoundation/sbcl
        
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - name: Run Tests
        uses: ./.github/actions/perform-system
        with:
          system: test-exercises
          operation: test-system
