name: Test Exercises

on: [push, pull_request]

jobs:
  run-tests:
    timeout-minutes: 30
    runs-on: ubuntu-latest

    container:
      image: clfoundation/sbcl
        
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0

      - name: Run Tests
        uses: ./.github/actions/perform-system
        with:
          system: test-exercises
          operation: test-system
